
<div class="container">
	<h1>HOME</h1>
	<div class="well movie-thumbnail">
		<img src="http://lorempixel.com/400/400" alt="">
	</div>
		<div class="well movie-thumbnail">
		<img src="http://lorempixel.com/400/400" alt="">
	</div>
		<div class="well movie-thumbnail">
		<img src="http://lorempixel.com/400/400" alt="">
	</div>
		<div class="well movie-thumbnail">
		<img src="http://lorempixel.com/400/400" alt="">
	</div>
		<div class="well movie-thumbnail">
		<img src="http://lorempixel.com/400/400" alt="">
	</div>
		<div class="well movie-thumbnail">
		<img src="http://lorempixel.com/400/400" alt="">
	</div>
		<div class="well movie-thumbnail">
		<img src="http://lorempixel.com/400/400" alt="">
	</div>
		<div class="well movie-thumbnail">
		<img src="http://lorempixel.com/400/400" alt="">
	</div>
		<div class="well movie-thumbnail">
		<img src="http://lorempixel.com/400/400" alt="">
	</div>
		<div class="well movie-thumbnail">
		<img src="http://lorempixel.com/400/400" alt="">
	</div>
		<div class="well movie-thumbnail">
		<img src="http://lorempixel.com/400/400" alt="">
	</div>
		<div class="well movie-thumbnail">
		<img src="http://lorempixel.com/400/400" alt="">
	</div>
</div>